/* --- Contact Page Styling --- */
main section {
  background-color: #ffffffd0;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: 2em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: 500;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 1em;
}

form button {
  background-color: #e67e22;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #bf6516;
}
