.dashboard-wrapper {
  max-width: 1500px;
  margin: auto;
  padding: 100px 0;
  font-family: sans-serif;
}

.dashboard-wrapper .dashboard-div h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Add Button */
.add-btn {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: none;
  color: #3b82f6; /* Default text color */
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid #3b82f6;
  position: relative;
  transition: color 0.3s ease; /* Add smooth transition for text color */
  overflow: hidden; /* Prevent background from overflowing the button */
}

.add-btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%; /* Fill the entire height of the button */
  background: #3b82f6; /* Background color for the button */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
  z-index: -1; /* Ensure the background stays behind the text */
}

.add-btn:hover {
  color: white; /* Change text color to white on hover */
  cursor: pointer;
}

.add-btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}